<html lang="en" ng-app="BestBids">
    <head>   
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.0/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
        <link rel="stylesheet" href="css/style.css">
        <meta name="viewport" content="initial-scale=1"/>
    </head>
    <body layout="column" ng-controller="AppCtrl">       
           <md-toolbar id="toolbar" ng-show="!IS_MOBILE" class=" md-primary md-hue-2" layout="row" layout-align="space-between center" ng-cloak>
			   <div>
					<img id="logo" src="images/logo.png" width="150px" height="50px" ng-click="goHome()"/>
			   </div>
			   <md-flex></md-flex>
			    <div id="navigation_menu" layout="row" layout-align="end end">
			        <ul id="navigation">
			          <li class="navigation_item"><a class="nav_link" href="#live"><span class="md-subhead nav_item">Aktuell</span></a></li>
			          <li class="navigation_item"><a class="nav_link" href="#closed"><spn class="md-subhead nav_item">Beendet</spn></a></li>
			          <li class="navigation_item"><a class="nav_link" href="#buy"><span class="md-subhead nav_item">Kaufen</span></a></li>
			          <li class="navigation_item"><a class="nav_link" href="#how"><span class="md-subhead nav_item">Wie</span></a></li>
			          <li class="navigation_item" ng-show="!isLoggedIn">
			          	<md-button id="btn_login" ng-click="login()">Registrieren/Login</md-button>
			          </li>
			          <li class="navigation_item user_name_li"><span class="md-subhead nav_item user_name">{{userAccountInformation.first_name}}</span></li>
			          <li class="navigation_item">
			          	<button ng-click="toggleSidenav('right')"  class="menuBtn">
			                <span class="visually-hidden"></span>
			            </button>
			          </li>
			        </ul>
			    </div>
			</md-toolbar>
			<!-- IF IT IS A MOBILE DEVICE SHOW DIFFERENT HEADER  -->
			<md-toolbar id="toolbar" ng-show="IS_MOBILE" class=" md-primary md-hue-2" layout="column" ng-cloak>
			   <div layout="row" layout-align="space-between center">
				   <div >
						<img id="logo" src="images/logo.png" width="150px" height="50px" ng-click="goHome()"/>
				   </div>
				   <div>
						<div ng-show="!isLoggedIn">
							<md-button id="btn_login" ng-click="login()">Registrieren/Login</md-button>
						</div>
						<div ng-show="isLoggedIn" >
							<span class="md-subhead nav_item user_name">{{userAccountInformation.first_name}}</span>
						</div>
				    </div>
					<button ng-click="toggleSidenav('right')"  class="menuBtn mobile_menu_button">
		                <span class="visually-hidden"></span>
		            </button>
			   </div>
			   <md-flex></md-flex>
			   <div layout="row" layout-align="center center">
				   <ul id="navigation">
			          <li class="navigation_item"><a class="nav_link" href="#live"><span class="md-subhead nav_item">Aktuell</span></a></li>
			          <li class="navigation_item"><a class="nav_link" href="#closed"><spn class="md-subhead nav_item">Beendet</spn></a></li>
			          <li class="navigation_item"><a class="nav_link" href="#buy"><span class="md-subhead nav_item">Kaufen</span></a></li>
			          <li class="navigation_item"><a class="nav_link" href="#how"><span class="md-subhead nav_item">Wie</span></a></li>
			          
			        </ul>
			   </div>	            
			</md-toolbar>
			<!-- END OF TOOLBAR HERE --------->
    <div layout="row" flex>
        <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="right" ng-cloak>	
            <md-toolbar id="worker_sidenav_toolbar" class="md-theme-teal" layout="row" layout-align="left center">
				<span layout="column" ng-show="isLoggedIn">
					<img id="account_image" src="images/profile.png" class="circular" alt="profile_pic" />
					<span id="worker_name_sidenav"  class="md-subhead label">{{userAccountInformation.username}}</span>
				</span>
				<span layout="column" ng-show="!isLoggedIn">
					<md-button id="profile_login_btn" class="md-raised md-accent" ng-click="login()">LOGIN</md-button>
				</span>
			</md-toolbar>
			<div layout="column">
			   <div >
				<md-list ng-show="isLoggedIn" ng-cloak>
					<md-subheader class="worker_sidenav_subheader">Ihre Informationen</md-subheader>	
					<md-list-item>
						<md-icon class="worker_sidenav_icon" md-svg-icon="images/icons/ic_face_24px.svg"></md-icon>
						<span>{{userAccountInformation.first_name + '  ' +userAccountInformation.surname}} </span>
					</md-list-item>	
					<md-list-item>
						<md-icon class="worker_sidenav_icon" md-svg-icon="images/icons/ic_attach_money_24px.svg"></md-icon>
						<span class="md-subhead"><b>{{userAccountInformation.bids}} bids</b></span>
					</md-list-item>
					<md-list-item>
						<md-icon class="worker_sidenav_icon" md-svg-icon="images/icons/ic_mail_24px.svg"></md-icon>
						<span>{{userAccountInformation.email}} </span>
					</md-list-item>	
					<md-list-item>
						<md-icon class="worker_sidenav_icon" md-svg-icon="images/icons/ic_location_on_24px.svg"></md-icon>
						<span>{{userAccountInformation.location_name}} </span>
					</md-list-item>
					<md-button id="btn_full_account_details" class="md-default" ng-click="showUserAccountDetails()">Full Details</md-button>
					<md-divider></md-divider>
					<md-subheader class="worker_sidenav_subheader">Benachrichtigung</md-subheader>
					<md-list-item>
						<center><span class="md-subhead label"> Keine Benachrichtigungen</span></center>
					</md-list-item>
					<md-divider></md-divider>
					<md-list-item  ng-click="logOut()">
						<md-icon class="worker_sidenav_icon" md-svg-icon="images/icons/ic_exit_to_app_24px.svg"></md-icon>
						<span>Abmelden</span>
					</md-list-item>
				</md-list>	
				</div>
			</div>
        </md-sidenav>
        <div layout="column" flex id="content">
            <div ui-view id="views">
				
            </div>
        </div>
    </div>
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>
	<script src="js/app.js"></script>
	
    <script src="node_server/node_modules/socket.io-client/socket.io.js"></script>
    <script src="node_server/app.js"></script>
        
        
	<script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="countdown/jquery.countdown.min.js"></script>
    <script src="js/angular-ui-router.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/controllers/homeController.js"></script>
	<script src="js/controllers/liveController.js"></script>
	<script src="js/controllers/closedController.js"></script>
	<script src="js/controllers/buyController.js"></script>
	<script src="js/controllers/howController.js"></script>
	<script src="js/controllers/registerController.js"></script>
	<script src="js/controllers/agbController.js"></script>
	
	<script src="js/controllers/accountController.js"></script>
	<script src="js/controllers/itemController.js"></script>
    <script src="js/services/api.js"></script>
  </body>
</html>