<md-dialog id="login_dialog" aria-label="Login">
	<div ng-show="!isLoggedIn">
		<md-toolbar id="login_toolbar" class="md-tall" layout="row" layout-align="center center">
			<span class="md-title label">AUCTION CLOSED</span>
		</md-toolbar>
		<div id="login_body" layout="column" layout-align="center center">
            <span class="md-subhead label"> THE AUCTION ENDED, THE WINNER WILL BE NOTIFIED BY EMAIL SHORTLY!</span>
            <md-button id="btn_bid" ng-click="okPressed()" class="md-primary md-raised">OK</md-button>
	    </div>
    </div>
</md-dialog>
