<md-dialog id="login_dialog" aria-label="Login">
	<div ng-show="!isLoggedIn">
		<md-toolbar id="login_toolbar" class="md-tall" layout="row" layout-align="center center">
			<span class="md-title label">SIE HABEN LEIDER KEINE BIDS MEHR</span>
		</md-toolbar>
		<div id="login_body" layout="column" layout-align="center center">
            <span class="md-body label">Möchten Sie mehr Bids kaufen? </span>
            <md-button id="btn_bid" ng-click="goToBuyBids()" class="md-primary md-raised">Bids Kaufen</md-button>
	    </div>
    </div>
</md-dialog>
