<div id="myCarousel" class="carousel slide">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active indicator"></li>
			<li class="indicator" data-target="#myCarousel" data-slide-to="1"></li>
			<li class="indicator" data-target="#myCarousel" data-slide-to="2"></li>
			<li class="indicator" data-target="#myCarousel" data-slide-to="3"></li>
		</ol>
		<div class="carousel-inner">
		<div class="item active">
				<img src="images/advertisment.png" alt="advertisement" class="img-responsive" />
				<div class="carousel-caption">
				   
				</div>
			</div>	
			<div class="item">
				<img src="images/bag_image.png" alt="bags" class="img-responsive" />
				<div class="carousel-caption">
				  
				</div>
			</div>		
			<div class="item">
				<img src="images/BestBidsSchmuck.png" alt="bestbidsschmuck" class="img-responsive" />
				<div class="carousel-caption">
		
				</div>
			</div>	
			<div class="item">
				<img src="images/BestBidsAsseccoires.png" alt="bestbidsaccessories" class="img-responsive" />
				<div class="carousel-caption">
				</div>
			</div>	
		</div>
		<a class="carousel-control left" href="#myCarousel" data-slide="prev"> 
			<span class="icon-prev"></span>
		</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next"> 
			<span class="icon-next"></span>
		</a>
	</div>
	
	<!--END OF CAROUSEL -->