<md-dialog id="login_dialog" aria-label="Login">
	<div ng-show="!isLoggedIn">
		<md-toolbar id="login_toolbar" class="md-tall" layout="row" layout-align="center center">
			<span class="md-title label">EMAIL US</span>
		</md-toolbar>
		<div id="login_body" layout="column" layout-align="center center">
			<br />
			<md-input-container md-no-float class="login_input">
			  <md-icon md-svg-src="images/icons/ic_mail_24px.svg" fill="gray"></md-icon>
			  <input ng-model="user_email" type="email" placeholder="Enter your email">
			</md-input-container>
            <textarea id="description" ng-model="user_message" class="login_input text_area" name="description" cols="50" rows="4"></textarea>
            <md-button id="button_send_email" class="md-subhead md-raised md-primary" ng-click="sendEmail()">Send</md-button>
        </div>
	</div>
	<div ng-show="email_send_flag">
		<span class="md-body">{{send_email_status}}</span>
	</div>
</md-dialog>
