<div class="col-md-3 col-sm-6" layout="column">
	<center><hr class="bottom_hr"/>
	<img id="logo" src="images/logo.png" width="200px" height="70px" ng-click="goHome()"/></center>
</div>
<div class="col-md-3 col-sm-6">
	<center><span class="md-subhead">Gehe zu</span>
	<hr class="bottom_hr"/>
	<ul>
	  <li class="bottom_li"><a class="md-subhead bottom_li" href="#live">Live Auktionen ></a></li>
	  <li class="bottom_li"><a class="md-subhead bottom_li" href="#closed">Beendete Auktionen ></a></li>
	  <li class="bottom_li"><a class="md-subhead bottom_li" href="#buy">Bids kaufen ></a></li>
	</ul></center>
</div>
<div class="col-md-3 col-sm-6">
	<center><span class="md-subhead">Hilfe</span>
	<hr class="bottom_hr" /></center>
	<center><ul>
		<li class="bottom_li"><a class="md-subhead bottom_li" href="#how">Wie funktioniert es?</a></li></center>
		<center><li class="bottom_li"><a class="md-subhead bottom_li" href="#register">Tipps</a></li></center>
		<center><li class="bottom_li"><a class="md-subhead bottom_li" href="#agb">AGB</a></li></center>
		<center><li class="bottom_li"><md-button class="btn-send-email md-raised md-primary" ng-click="emailUs()">Kontakt</md-button></li></center>
	</ul></center>
</div>
<div class="col-md-3 col-sm-6">
	<center><span class="md-subhead">Account</span>
	<hr class="bottom_hr" />
	<ul>
		<center><li class="bottom_li"><a class="md-subhead bottom_li" ng-click="login()">Login</a></li></center>
		<center><li class="bottom_li"><a class="md-subhead bottom_li" href="#register">Registrieren</a></li></center>
	</ul></center>
</div>
<md-toolbar id="logo_and_social" class="md-primary" layout="column" layout-align="center center">
	<center><span class="md-body-1">© 2015 www.bestbids.ch</span></center>
</md-toolbar>
