<md-dialog id="login_dialog" aria-label="Login">
	<div ng-show="!isLoggedIn">
		<md-toolbar id="login_toolbar" class="md-tall" layout="row" layout-align="center center">
			<span class="md-title label">MITGLIED LOGIN</span>
		</md-toolbar>
		<div id="login_body" layout="column" layout-align="center center">
			<br />
			<md-input-container md-no-float class="login_input">
			  <md-icon md-svg-src="images/icons/ic_person_48px.svg" fill="gray"></md-icon>
			  <input ng-model="username" type="text" placeholder="Geben Sie Ihren Benutzernamen ein">
			</md-input-container>
			<md-input-container md-no-float class="login_input">
			  <md-icon md-svg-src="images/icons/ic_lock_48px.svg" fill="red"></md-icon>
			  <input ng-model="password" type="password" placeholder="Geben Sie Ihren Kennwort ein">
			</md-input-container>
			<a class="md-body-1" href="#">Kennwort vergessen?</a>
			<md-button id="btn_login" class="md-raised" ng-click="logMeIn()">Login </md-button>
			<md-progress-circular ng-show="loginAttempt" md-mode="indeterminate"></md-progress-circular>
			<hr />
		</div>
		<div id="login_action" layout="row" layout-align="center center">
			<span class="md-body-1 label">Noch Kein Mitglied?</span>
			<md-button id="btn_sign_up" class="md-raised md-accent" ng-click="registerMe()">Anmelden</md-button>
		</div>
		<div id="login_messages" layout="column">
			<center><div><span class="md-subhead label" ng-show="show_message_wrong_data">Ihr Benutzername oder Kennwort ist falsch!</span></div></center>
			<center><div><span class="md-subhead label" ng-show="show_message_empty_fields">Bitte geben Sie Ihren Benutzernamen und Kennwort ein!</span></div></center>
		</div>
	</div>
	<div ng-show="isLoggedIn">
	</div>
</md-dialog>