<div id="account_div" class="row">
	<div ng-show="isLoggedIn">
	<div id="account_personal_information" class="md-whiteframe-z2 col-md-8 col-sm-12">
		<md-toolbar id="card_toolbar" class="" layout="row" layout-align="center center">
			<span class="md-title label">PERSÖNLICHE DATEN VRWALTEN</span>
		</md-toolbar><br />
		<div id="change_email_address" class="md-whiteframe-z3 col-md-3 col-sm-12 account_cards" layout="column">
			<md-toolbar id="card_toolbar" class="" layout="row" layout-align="center center">
				<span class="md-title label">EMAIL</span>
			</md-toolbar><br />
			<div>
			 <form name="form_change_email" id="form_change_email">
				<md-input-container md-no-float>
					<input ng-model="userAccountInformation.email" placeholder="Email" type="email" class="account_input" required disabled>
					<div ng-messages="">
					  <div ng-show="form_change_email.userAccountInformation.email.$dirty && form_change_email.userAccountInformation.email.$error.required">
						<div ng-message="required">Angabe erforderlich.</div>
					  </div>
					</div>
				</md-input-container>
				<md-input-container md-no-float>
					<input ng-model="new_email" placeholder="Neue Email" type="email" class="account_input" required>
					<div ng-messages="">
					  <div ng-show="form_change_email.userAccountInformation.new_email.$dirty && form_change_email.userAccountInformation.new_email.$error.required">
						<div ng-message="required">Angabe erforderlich.</div>
					  </div>
					</div>
				</md-input-container>
				<center><md-button ng-disabled="form_change_email.$invalid || userAccountInformation.email == new_email" ng-click="updateEmail()" class="md-raised md-accent action_btn_account">Neue Email Adresse</md-button></center>
				<center><div><span class="md-subhead" ng-show="email_updated && new_email==''">Email Changed</span></div></center>
			 </form>
			</div>
			<br />
		</div>
		<div id="change_password" class="md-whiteframe-z3 col-md-3 col-sm-12 account_cards" layout="column">
			<md-toolbar id="card_toolbar" class="" layout="row" layout-align="center center">
				<span class="md-title label">PASSWORD</span>
			</md-toolbar><br />
			<div>
			  <form name="form_change_password" id="form_change_password">
				<md-input-container md-no-float>
					<input ng-model="old_password" placeholder="Old Password" class="account_input" required>
				</md-input-container>
				<md-input-container md-no-float>
					<input ng-model="new_password" placeholder="New Password" class="account_input" required ng-minlength="5" type="password">
				</md-input-container>
				<md-input-container md-no-float>
					<input ng-model="re_enter_new_password" placeholder="Re-enter New Password" class="account_input" required type="password">
				</md-input-container>
				<center><md-button ng-disabled="form_change_password.$invalid || new_password != re_enter_new_password || form_change_password.$error.minlength || old_password==new_password" ng-click="updatePassword()" class="md-raised md-accent action_btn_account">Kennwort Ändern</md-button></center>
				<center><div><span class="md-body-1 label" ng-show="password_changed">Password Changed</span></div></center>
				<center><div><span class="md-body-1 label" ng-show="password_changed_error">Old password incorrect</span></div></center>
				<center><div><span class="md-body-1 label">Minimum 5 characters</span></div></center>
			  </form>
			</div>
			<br />
		</div>
		<div id="change_personal_info" class="md-whiteframe-z3 col-md-4 col-sm-12 account_cards" layout="column">
			<md-toolbar id="card_toolbar" class="" layout="row" layout-align="center center">
				<span class="md-title label">INFORMATION</span>
			</md-toolbar><br />
			<div>
			  <form id="form_change_info" name="form_change_info">
				<md-input-container md-no-float>
					<input ng-model="userAccountInformation.first_name" placeholder="Vorname" class="account_input" required>
				</md-input-container>
				<md-input-container md-no-float>
					<input ng-model="userAccountInformation.surname" placeholder="Name" class="account_input" required>
				</md-input-container>
				<md-input-container md-no-float>
					<input ng-model="userAccountInformation.address" placeholder="Adresse" class="account_input" required>
				</md-input-container>
				<md-input-container md-no-float>
					<input ng-model="userAccountInformation.post" placeholder="Hausnummer" class="account_input" required>
				</md-input-container>
				<center><md-button ng-disabled="form_change_info.$invalid" ng-click="updateInfo()" class="md-raised md-accent action_btn_account">Update Info</md-button></center>
				<center><div><span class="md-body-1 label" ng-show="info_updated">Information updated!</span></div></center>
				<center><div><span class="md-body-1 label" ng-show="info_updated_error">Something went wrong!</span></div></center>
			  </form>
			</div>
			<br />
		</div>
	</div>
	<div id="account_other_info" class="col-md-3 col-sm-12">
		<div id="account_bids" class="md-whiteframe-z2 col-md-12 col-sm-12 account_cards" layout="column">
			<md-toolbar id="card_toolbar" class="" layout="row" layout-align="space-around center">
				<span id="your_bids_title" class="md-title label">IHRE BIDS</span> 
			</md-toolbar>
			<br />
			<center><span class="md-display-1 label">{{userAccountInformation.bids}} BIDS</span></center>
			<br />
			<center><md-button class="md-raised md-accent action_btn_account" ng-click="goToBuyBids()">Bids Kaufen</md-button></center>
		</div>
		<div id="account_notifications" class="md-whiteframe-z2 col-md-12 col-sm-12 account_cards" layout="column">
			<md-toolbar id="card_toolbar" class="" layout="row" layout-align="center center">
				<span class="md-title label">BENACHRICHTIGUNGEN</span>
				<md-button ng-click="toggleNotification()" class="md-icon-button md-primary" aria-label="Settings">
					<md-icon id="icon_expand_more" md-svg-src="images/icons/ic_expand_more_24px.svg" fill="black"></md-icon>
				</md-button>
			</md-toolbar>
			<br />
			<div ng-show="expand_notifications">
				<center><span id="label_1" class="md-display-1">KEINE BENACHRICHTIGUNGEN</span></center>
			</div>
		</div>
		<div id="account_notifications" class="md-whiteframe-z2 col-md-12 col-sm-12 account_cards" layout="column">
			<md-toolbar id="card_toolbar" class="" layout="row" layout-align="center center">
				<span class="md-title label">EINSTELLUNGEN</span>
				<md-button ng-click="toggleSettings()" class="md-icon-button md-primary" aria-label="Settings">
					<md-icon id="icon_expand_more" md-svg-src="images/icons/ic_expand_more_24px.svg" fill="black"></md-icon>
				</md-button>
			</md-toolbar>
			<br />
			<div ng-show="expand_settings">
				
			</div>
		</div>
	</div>
	</div>
	<div ng-show="!isLoggedIn" id="account_not_logged_in_message">
		<center><span id="label_1" class="md-display-3">YOU ARE NOT LOGGED IN</span></center>
	</div>
</div>
<div>
</div>
<div id="div_links" class="row">
	<footer-view></footer-view>
</div>