<md-content id="agb_text" flex layout-padding>
	<center><span class="md-title">Allgemeine Geschäftsbedingungen (AGB)</span></center>
	<center><span class="md-subhead">von www.bestbids.ch</span></center>
    <p class="md-subhead">1 Geltungsbereich und Gegenstand der Allgemeinen Geschäftsbedingungen </p>
    <p>
Auf der Homepage www.bestbids.ch wird eine Internetplattform betrieben, auf der von der Anbieterin verschiedene Konsumgüter zum Verkauf an eine grosse Gemeinschaft von Interessenten (nachfolgend Nutzer) angeboten werden. 
Der Nutzer hat die Möglichkeit, ein Guthaben in Form von Bit’s zu erwerben, welche ihn berechtigen, an den Auktionen, bei welchen die Anbieterin die Produkte verkauft, teilzunehmen.
    </p>
    <p>
Die AGB gelten für sämtliche Leistungen und Produkte, die von der Anbieterin für den Nutzer resp. Käufer erbracht, ihm geliefert oder verkauft werden. Abweichende Regelungen haben nur dann Geltung, wenn sie ausdrücklich und schriftlich zwischen der Anbieterin und dem Nutzer vereinbart wurden. 
    </p>
    <p>
Diesen AGB widersprechende spezielle oder allgemeine Vertragsbedingungen werden von der Anbieterin nicht akzeptiert und haben im Verhältnis zwischen der Anbieterin und dem Nutzer keine Gültigkeit. 
    </p>
    <p class="md-subhead">2 Vertragsabschluss und Vertragsgebiet </p>
    <p>
Der Vertrag zwischen dem Nutzer und der Anbieterin kommt durch Abrede oder formlos durch die Inanspruchnahme der Dienstleistungen resp. Registrierung auf der Internetplattform zustande. Leistungsinhalt und Umfang ergeben sich aus den vorliegenden AGB bzw. aus allfälligen Individualvereinbarungen. 
    </p>
    <p class="md-subhead"> 3 Preise</p>
    <p>
Preise verstehen sich in Schweizer Franken. Massgebend für den Kauf der Bid‘s sind die am Tage des Vertragsschlusses gültigen Preise der Anbieterin. Bezüglich der Auktion ist jener Preis massgebend, der bei Ablauf der Auktion erreicht wurde.
    </p>
    <p class="md-subhead"> 4 Leistungen der Anbieterin </p>
    <p>
Die Anbieterin erbringt Dienstleistungen, die nach besten Kräften sorgfältig ausgeführt werden. 
Die Anbieterin hat jederzeit das Recht, Art, Umfang, Preis, Bezugsbedingungen und Bezugskanäle der von ihr bereitgestellten Leistungen zu ändern und ihre Leistungen bei Zahlungsverzug oder anderen Pflichtverletzungen vollständig zu verweigern. 
    </p>
    <p>
Die Anbieterin ist berechtigt, das Verhalten der Nutzer im Zusammenhang mit der Nutzung der Internetplattform zu kontrollieren. Die Anbieterin behält sich vor, die Internetplattform technischen Neuerungen anzupassen oder aufgrund anderer Gegebenheiten jederzeit zu ändern.
Grundsätzlich ist die Internetplattform während 24 Stunden verfügbar. Die Anbieterin kann jedoch keine Mindestverfügbarkeit gewährleisten. Die Anbieterin behält sich ausdrücklich vor, die Internetplattform ganz oder teilweise einzustellen.
    </p>
    <p class="md-subhead">5 Registrierung</p>
    <p>
Der Nutzer muss sich auf der Webseite www.bestbids.ch registrieren. Nach erfolgter Bezahlung resp. Kaufs erhält er ein entsprechendes Bid-Guthaben. Mit den erworbenen Bid’s kann der Nutzer an den Auktionen auf der Internetplattform teilnehmen. 
    </p>
    <p>
Der Nutzer kann auf der Internetplattform bei den Auktionen mittels seiner Bid’s Produkte ersteigern. Das betreffende Produkt wird von der Anbieterin mit einem Mindestpreis veröffentlicht. Wird dieser durch Gebote der Nutzer erreicht, steht das Produkt zum Verkauf. Der Verkauf endet mit Ablauf einer bestimmten Auktionszeit, welche von der Anbieterin festgesetzt wird. Während den letzten 15 Sekunden wird das Auktionsende mit jedem Gebot eines Nutzers um weitere 15 Sekunden verlängert. Ist ein Nutzer während der letzten 15 Sekunden der einzige Bieter wird der Kaufvertrag geschlossen und der Nutzer ist zur Bezahlung des Produkts verpflichtet.  
    </p>
    <p class="md-subhead">6 Pflichten des Nutzers und Nutzung der Internetplattform</p>
    <p>
Der Nutzer verpflichtet sich zur Zahlung des vereinbarten Entgelts. Der Nutzer ist verpflichtet, sämtliche Vorkehrungen zu treffen, damit die Anbieterin ihre Dienstleistungen für den Nutzer erbringen kann. Je nach Umständen gehört dazu das Erbringen geeigneter Informationen und Unterlagen für die Anbieterin. Der Nutzer bestätigt mit dem Akzeptieren der vorliegenden AGB zudem, dass er über eine unbeschränkte Handlungsfähigkeit verfügt und volljährig ist. 
    </p>
    <p>
Der Nutzer ist zudem verpflichtet, die ihm von der Anbieterin mitgeteilten, persönlichen Logindaten, insbesondere das Passwort, geheim zu halten und niemals einem Dritten bekannt zu geben oder zugänglich zu machen. Der Nutzer haftet für einen allfällig entstandenen Schaden wegen Missachtung dieser Sorgfaltspflicht selber.
    </p>
    <p>7 Rechnungsstellung, Zahlungsbedingungen und Verzug </p>
    <p>
Mit Zustandekommen des Vertrages zwischen der Anbieterin und dem Nutzer erhält der Nutzer ein entsprechendes Bid-Guthaben. Das Bid-Guthaben kann mittels Zahlung per Kreditkarte, Paypal oder Postfinance erfolgen. Hat der Nutzer kein Bid-Guthaben mehr, um bei der Auktion mitbieten zu können muss ein neues Bid-Packages erworben. Die Teilnahme an den Auktionen ohne Bid’s ist augeschlossen. 
    </p>
    <p>
Bei einer Kündigung, resp. Löschung des Nutzeraccounts wird ein allfälliges Rest-Guthaben nicht an den Nutzer zurückerstattet.
Sofern die Plattform aufgrund finanziellen oder technischen Gründen eingestellt werden muss, ist die Anbieterin nicht verpflichtet, dem Kunden ein bestehendes Restguthaben zurück zu erstatten.
    </p>
    <p>
	    Hat ein Nutzer ein Produkt ersteigert so erhält er von der Anbieterin eine Vorauskassenrechnung. Sobald die Vorauskassenrechnung beglichen ist wird das Produkt eingeschrieben versandt. Allfällige Versandgebühren werden dem Käufer nicht in Rechnung gestellt. Der Versand erfolgt ausschliesslich an Adressen in der Schweiz.
    </p>
    <p>
	    Der Nutzer ist verpflichtet, sämtliche Rechnungen vollständig zu bezahlen. Die Verrechnung von Zahlungen wegen etwaiger Gegenansprüche des Nutzers ist diesem nicht gestattet.
Kommt der Nutzer der Bezahlung der Vorauskassenrechnung nicht innerhalb 14 Tagen nach so erlischt der Anspruch auf Lieferung des Produkts.
    </p>
    <p class="md-subhead">8 Gewährleistung</p>
	<p>
	Die Anbieterin ist bestrebt, einen hohen Grad an professionellen Dienstleistungen zu bieten. Im Falle von Änderungen, Unterbrechungen oder Einstellungen der Internetplattform sowie Löschung von Inhalten besteht kein Anspruch des Nutzers auf Vertragsrücktritt und/oder Reduktion resp. Rückforderung von Vergütungen oder Schadenersatz.	
	</p>
	<p>
Die Anbieterin gewährleistet, dass die Verkaufsprodukte frei von Sach- und Rechtsmängeln übergeben werden.
	</p>
	<p>
Allfällige Mängel müssen sofort, spätestens innert 3 Tagen, schriftlich oder per Email der Anbieterin gegenüber gerügt werden. Die Gewährleistungsfrist beträgt 2 Jahre seit Lieferung. Die Gewährleistungsfrist beginnt mit der Auslieferung an den Käufer. Die Anbieterin haftet nicht für Schäden, die nach der Auslieferung durch Nichtbeachtung der Betriebs- oder Pflegeanleitungen der Anbieterin an den Produkten entstehen. Dem Käufer obliegt der Nachweis darüber, dass die Ware zum Zeitpunkt der Auslieferung mit einem Mangel behaftet war.
	</p>
	<p>
	Macht der Käufer berechtigte Gewährleistungsansprüche geltend, so kann die Anbieterin nach ihrer Wahl entweder den Kaufpreis erstatten oder Ersatzware liefern. Weitergehende Ansprüche wegen mangelhafter Lieferung, insbesondere Schadenersatzansprüche einschliesslich entgangenen Gewinns oder wegen sonstigen Vermögensschadens des Käufers, sind vollständig ausgeschlossen, es sei denn, die Schadensursache beruht auf Vorsatz oder grober Fahrlässigkeit der Anbieterin. 
	</p>
	<p>
Für die Aussagen und Angaben in den Inseraten und Angeboten der Anbieterin wird keine Haftung übernommen. Die Anbieterin übernimmt keine Garantien für das zu erreichende Ziel. Sie gewährleistet einzig das Erbringen der versprochenen Dienstleistungen gemäss dem branchenüblichen Sorgfaltsmassstab.
	</p>
	<p>
		Die Anbieterin lehnt jede Haftung und Gewährleistung, die im Zusammenhang mit der Erbringung ihrer Dienstleistung beim Nutzer entstehen könnten, ab, sofern es sich um leicht- oder mittelfahrlässige Sorgfaltspflichtverletzungen handelt. Die Gewährleistung und Haftung entfällt insbesondere für die Verfügbarkeit, Servicequalität, Richtigkeit und Vollständigkeit der Internetplattform.
	</p>
	<p>
		Die Anbieterin haftet nur für absichtlich oder grobfahrlässig nachweisbar entstandenen Schaden beim Nutzer. Haftung für Folgeschäden und mittelbare Schäden sind in jedem Fall ausgeschlossen. 
	</p>
	<p class="md-subhead">9 Immaterialgüterrechte </p>
	<p>
Die von der Anbieterin zur Verfügung gestellten allfälligen Inhalte ihrer Dienstleistungen sind urheberrechtlich geschützt. Die Nutzung und Bezahlung der Dienste durch den Nutzer hat nicht die Übertragung von Immaterialgüterrechten zur Folge. 
	</p>
	<p class="md-subhead">10 Datenschutz </p>
	<p>
		Die Anbieterin ergreift alle zumutbaren Massnahmen, um die bei ihr gespeicherten Daten zu schützen. Sämtliche vom Nutzer getätigten Angaben über seine Person werden streng vertraulich behandelt und nur für den Betrieb der Internetplattform genutzt. Es werden lediglich die nötigsten Daten an Dritte übermittelt, wenn diese zur Bearbeitung der Bestellung resp. Lieferung benötigt werden. Zugriffe von Dritten bei der Anbieterin oder einem Vertragspartner der Anbieterin auf gespeicherte Daten führen nicht zur Haftung der Anbieterin und deren Vertragspartner. 
	</p>
	<p>
	Die Anbieterin verwendet Nutzerdaten zur vertrags- und gesetzeskonformen Erfüllung der angebotenen Dienstleistungen, zur Pflege der Nutzerbeziehung sowie zur Unterbreitung von Angeboten. 
	</p>
	<p>
	Der Nutzer erklärt sich mit der Speicherung und Verwertung seiner Daten durch die Anbieterin vollumfänglich einverstanden. Der Nutzer kann die Nutzung und Bearbeitung seiner Daten für Marketingzwecke jederzeit untersagen. 
	</p>
	<p class="md-subhead">11 Anwendbares Recht, Gerichtsstand</p>
	<p>
	Die AGB und das Rechtsverhältnis zwischen Anbieterin und Nutzer resp. Käufer unterstehen schweizerischem Recht. Ausschliesslicher Gerichtsstand ist am Sitz der Anbieterin. 
	</p>
  </md-content>
  <div id="div_links" class="row">
	<footer-view></footer-view>
  </div>