<div id="live_header">
	<div class="md-whiteframe-z2 sub_header" layout="row" layout-align="start center">
		<div class="sub_header_title">
			<span class="md-headline">BIDS <b>KAUFEN</b></span>
		</div>
	</div>
</div>
<div id="live_items" class="row">
	<div class="col-md-3 col-sm-6" ng-repeat="package in packages">
		<md-card class="item_card">
			<md-toolbar id="toolbar" class="md-primary md-hue-2" layout="column" layout-align="center center">					
				<span clas="md-subhead card_header">{{package.price |currency:"&#67;&#72;&#70;"}}</span>     		
			</md-toolbar>
			<md-card-content layout="column" layout-align="center center">
				<span class="md-display-2 label">{{package.bid_number}} <b>BIDS</b></span>
				<span class="md-subhead label">+{{package.free_bids}} gratis bids</span>
			</md-card-content>
			<md-card-footer>
				<md-button ng-click="buyPackage(package.pid)" class="btn_item md-subhead md-raised md-accent">PAKET KAUFEN</md-button>
			</md-card-footer>
		</md-card>
		<span><center><md-progress-circular id="buy_loader" ng-show="selected_package_id == package.pid && buying_in_progress" md-mode="indeterminate"></md-progress-circular></center></span>
	</div>
</div>
<div id="div_links" class="row">
	<footer-view></footer-view>
</div>