<div id="live_header">
	<div class="md-whiteframe-z2 sub_header" layout="row" layout-align="start center">
		<div class="sub_header_title">
			<span class="md-headline">BEENDETE <b>AUKTIONEN</b></span>
		</div>
		<span></span>
	</div>
</div>
<div id="live_items" class="row">
	<div class="col-md-3 col-sm-6" ng-repeat="item in closed_items">
		<md-card class="item_card">
			<md-toolbar id="toolbar" class="md-primary md-hue-2" layout="column" layout-align="center center">					
				<span clas="md-subhead card_header">{{item.brand}}</span>     		
			</md-toolbar>
			<md-card-content layout="column" layout-align="center center">
				<span class="md-body-1">MINDEST PREIS: {{item.minprice |currency:"&#67;&#72;&#70;"}}</span>
				<span class="md-body-1">LANDENPREIS: {{item.retailprice |currency:"&#67;&#72;&#70;"}}</span>
				<img class="item_image" src="http://bestbids.ch/{{item.img}}" />
			</md-card-content>
			<md-card-footer>
				<center><span class="md-headline label">{{item.won_by}}</span></center>
			</md-card-footer>
		</md-card>
	</div>
</div>
<div id="div_links" class="row">
	<footer-view></footer-view>
</div>