<corousel-view></corousel-view>
<div id="home_how_to">
	<center><span class="md-display-1 how_it_works_label">WIE FUNKTIONIERT ES?</span></center>
	<hr class="fancy_hr" />
	<br />
	<center><div class="row">
		<div class="col-md-3 col-sm-6" flex layout="column">
			<center><span class="md-display-2 headline">1</span></center>
			<center><span class="md-title second_text">KOSTENLOS REGISTRIEREN</span></center>
		</div>
		<div class="col-md-3 col-sm-6" flex layout="column">
			<center><span class="md-display-2 headline">2</span></center>
			<center><span class="md-title second_text">BIDS KAUFEN</span></center>
		</div>
		<div class="col-md-3 col-sm-6" flex layout="column">
			<center><span class="md-display-2 headline">3</span></center>
			<center><span class="md-title second_text">BIETEN</span></center>
		</div>
		<div class="col-md-3 col-sm-6" flex layout="column">
			<center><span class="md-display-2 headline">4</span></center>
			<center><span class="md-title second_text">DAS PRODUKT GEWINNEN</span></center>
		</div>
	</div></center>
</div>
<div id="latest_items">
	<br />
	<center><span class="md-display-1 headline">BEVORSTEHENDE AUKTIONEN</span></center>
	<br />
	<div class="row">
		<div class="col-md-3 col-sm-6" ng-repeat="item in latest_items">
			<md-card class="item_card">
				<md-toolbar id="toolbar" class="md-primary md-hue-2" layout="column" layout-align="center center">
					<span clas="md-subhead card_header">{{item.name}}</span>
				</md-toolbar>
				<md-card-content layout="column" layout-align="center center">
					<span class="md-body-1">MINDEST PREIS: {{item.minprice |currency:"&#67;&#72;&#70;"}}</span>
					<span class="md-body-1">LANDENPREIS: {{item.retailprice |currency:"&#67;&#72;&#70;"}}</span>
					<img class="item_image" src="http://bestbids.ch/{{item.img}}" />
					<h4 id="{{item.iid}}" class="md-subhead" ng-bind="countdownTimer(item.iid,item.duedate)"></h4>
				</md-card-content>
				<md-card-footer>
					<md-button class="btn_item md-subhead md-raised md-accent" ng-click="itemDetailView(item.iid)">BIETEN</md-button>
				</md-card-footer>
			</md-card>
		</div>
	</div>
</div>
<div id="div_links" class="row">
	<footer-view></footer-view>
</div>
