<div id="live_header">
	<div class="md-whiteframe-z2 sub_header" layout="row" layout-align="start center">
		<div class="sub_header_title">
			<span class="md-headline">Wie Funktioniert <b>Es?</b></span>
		</div>
		<span></span>
	</div>
</div>
<center><div id="live_items" layout="column">
	<div id="step_one" class="steps_div md-whiteframe-z2" >
		<div class="col-md-1 col-sm-1">
		</div>
		<div class="step_div col-md-4 col-sm-5" layout="column" layout-align="center end">
			<span class="md-display-1 step_label">SCHRITT 1</span>
		</div>
		<div class="details_div col-md-7 col-sm-6" layout="column">
			<center><span class="md-headline step_label">REGISTRIEREN</span></center>
			<span class="md-subhead step_label">Erstellen Sie kostenlos ein Konto. Sie erhalten gratis Bids und Sie werden unsere Auktionen!</span>
			<div layout="row" layout-align="center center">
				<md-button class="md-raised md-primary" ng-click="goToLiveAuction()">Live Auktionen</md-button>
				<md-button class="md-raised md-accent" ng-click="goToRegistration()">Konto Erstellen</md-button>
			</div>
		</div>
	</div>
	<div id="step_two" class="steps_div md-whiteframe-z2">
		<div class="col-md-1 col-sm-1">
		</div>
		<div class="step_div col-md-4 col-sm-5" layout="column" layout-align="center end">
			<span class="md-display-1 step_label">SCHRITT 2</span>
		</div>
		<div class="details_div col-md-7 col-sm-6" layout="column">
			<center><span class="md-headline step_label">BUY BIDS</span></center>
			<span class="md-subhead step_label">Kaufen Sie extra Bids. Folgen Sie den einfachen Schritten!</span>
			<div layout="row" layout-align="center center">
				<md-button id="btn_how_buy" class="md-raised md-primary " ng-click="goToBuyBids()">Bids Kaufen</md-button>
			</div>
		</div>
	</div>
	<div id="step_three" class="steps_div md-whiteframe-z2">
		<div class="col-md-1 col-sm-1">
		</div>
		<div class="step_div col-md-4 col-sm-5" layout="column" layout-align="center end">
			<span class="md-display-1 step_label">SCHRITT 3</span>
		</div>
		<div class="details_div col-md-7 col-sm-6" layout="column">
			<center><span class="md-headline step_label">START BIDDING</span></center>
			<div layout="row" layout-align="center center">
				<div flex="25">
					<span class="md-subhead step_label">
						1: Each bid you place raises the general price for 0.001 CHF
					</span>
				</div>
				<div flex="25">
					<span class="md-subhead step_label">
						2: In the last 15 seconds the bid value increases to 0.1 CHF
					</span>
				</div>
				<div flex="25">
					<span class="md-subhead step_label">
						3: The bid in the last 15 seconds resets the timer to 15 seconds!
					</span>
				</div>
				<div flex="25">
					<span class="md-subhead step_label">
						4: When the counter is finished the last bidder gets the item!
					</span>
				</div>
			</div>
		</div>
	</div>
	<div id="step_four" class="steps_div md-whiteframe-z2">
		<div class="col-md-1 col-sm-1">
		</div>
		<div class="step_div col-md-4 col-sm-5" layout="column" layout-align="center end">
			<span class="md-display-1 step_label">SCHRITT 4</span>
		</div>
		<div class="details_div col-md-7 col-sm-6" layout="column">
			<center><span class="md-headline step_label">BEWINNEN SIE DIESE AUKTION</span></center>
			<span class="md-subhead step_label">Once the time is up, the winner gets the item at no extra charge!</span>
		</div>
	</div>
</div></center>
<br />
<div id="div_links" class="row">
	<footer-view></footer-view>
</div>
