<div id="single_item_view" class="row">
	<div class="md-whiteframe-z2 sub_header col-md-12 col-sm-12" layout="row" layout-align="start center">
		<div class="sub_header_title">
			<span class="md-headline">Product <b>DETAILS</b></span>
		</div>
	</div>
	<div class="col-md-12 col-sm-12">
		<div id="image_frame" class="md-whiteframe-z2 col-md-5 col-sm-12 white_frame">
			<div id="big_image_div" class="col-md-12 col-sm-12">
				<center><img id="big_image" class="item_image" src="http://bestbids.ch/{{src}}"/></center>
			</div>
			<div id="small_images">
				<center><img id="small_image" class="item_image" src="http://bestbids.ch/{{src}}"/></center>
			</div>
		</div>
		<div id="details_frame" class="md-whiteframe-z2 col-md-6 col-sm-12 white_frame">
			<div id="div_item_name">
				<span class="md-display-1 label">{{brand}}</span>
			</div>
			<div id="div_item_category">
				<span id="item_category" class="md-title label">{{category}}</span>
			</div> 
			<div id="div_prices" class="col-md-12 col-sm-12">
				<div id="div_retail" class="col-md-4 col-sm-4 prices">
					<div class="col-md-12 col-sm-6">
						<span class="md-title label">Ladenpreis:</span>
					</div>
					<div class="col-md-12 col-sm-5">
						<span class="md-title label">{{retail |currency:"&#67;&#72;&#70;"}}</span>
					</div>
				</div>
				<div id="div_minimum_price" class="col-md-4 col-sm-4 prices">
					<div class="col-md-12 col-sm-6">
						<span class="md-title label">Mindest Preis:</span>
					</div>
					<div class="col-md-12 col-sm-5">
						<span class="md-title label">{{min |currency:"&#67;&#72;&#70;"}}</span>
					</div>
				</div>
				<div id="div_you_save" class="col-md-4 col-sm-4 prices">
					<div class="col-md-12 col-sm-6">
						<span class="md-title label"> Sie Sparen:</span>
					</div>
					<div class="col-md-12 col-sm-5">
						<span class="md-title label">{{save |currency:"&#67;&#72;&#70;"}}</span>
					</div>
				</div>
			</div>
			<div id="div_action" class="col-md-12 col-sm-12">
				<div id="current_price" class="col-md-4 col-sm-12">
					<div><span class="md-title label price_class"><b>{{current_price |currency:"&#67;&#72;&#70;"}}</b></span></div>
				</div>
				<div id="current_deadline" class="col-md-4 col-sm-12">
					<span id="{{iid}}" class="md-title label price_class" ng-bind="countdownTimer(iid,duedate)"></span>
				</div>
				<div id="div_bid" class="col-md-4 col-sm-12">
					<md-button id="btn_bid" ng-click="bid()" ng-disabled="!you_can_bid" class="md-primary md-raised">BIETEN</md-button>
				</div>
			</div>
			<div id="user_bids" class="col-md-12 col-sm-12" layout="column" layout-align="start start">
				<span class="md-title label">Sie <b>haben</b></span>
				<span id="your_bids_span" class="md-display-1 label" ng-show="isLoggedIn">{{userAccountInformation.bids}} bids</span>
				<span id="your_bids_span" class="md-display-1 label" ng-show="!isLoggedIn">0 bids</span>
			</div>
		</div>
	</div>
	<div class="md-whiteframe-z2 col-md-12 col-sm-12 gray_frame">
		<div id="div_item_description" class="md-whiteframe-z2 col-md-5 col-sm-12 white_frame">
			<span id="description_label" class="md-title label"><b>PRODUKTBESCHREIBUNG</b></span><br />
			<span class="md-subhead label">{{details}}</span>
		</div>
		<div id="div_item_bidders" class="md-whiteframe-z2 col-md-6 col-sm-12 white_frame">
			<div>
				<span id="description_label" class="md-title label">LETZTER <b>BIETER</b></span>
			</div>
			<div class="div_bidders_table">
				<table ng-show="nr_of_bidders>0" class="bidders_table">
					<tr ng-repeat="bider in last_bidders">
						<td class="td_img"><img src="{{bider.bidder_url}}" width="33px" height="33px" /></td>
						<td class="td_name">{{bider.username}}</td>
						<td class="td_bid">{{bider.bid}}</td>
					</tr>
				</table>
				<div class="bidders_div" ng-show="nr_of_bidders==0">
					<center><span id="no_bidders_message" class="md-display-1">NOCH KEINE BIETER</span><center>
				</div>
				<div class="loading_bidders_div" ng-show="nr_of_bidders==-1">
					<md-progress-circular md-mode="indeterminate"></md-progress-circular>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="div_links" class="row">
	<footer-view></footer-view>
</div>
