<div id="live_header">
	<div class="md-whiteframe-z2 sub_header" layout="row" layout-align="space-between center">
		<div class="sub_header_title">
			<span class="md-headline">LIVE <b>AUKTIONEN</b></span>
		</div>
		<span></span>
		<div class="sub_header_title" layout-align="end center">
			<span class="md-subhead">{{total_auctions}} auktionsprodukt</span>
			<span class="md-subhead">| FITLERN</span>
			<md-select placeholder="KATEGORIEN" ng-model="selectedCategory" class="dropdown">
				<md-option ng-click="filterByCategory(category);" ng-repeat="category in categories" value="{{category}}">{{category}}</md-option>
		    </md-select>
		</div>
	</div>
</div>
<div id="live_items" class="row">
	<div class="col-md-3 col-sm-6" ng-repeat="item in live_items" ng-if="selectedCategory==='KATEGORIEN' || selectedCategory===item.category" ng-show="has_items">
		<md-card class="item_card">
			<md-toolbar id="toolbar" class="md-primary md-hue-2" layout="column" layout-align="center center">					
				<span clas="md-subhead card_header">{{item.name}}</span>     		
			</md-toolbar>
			<md-card-content layout="column" layout-align="center center">
				<span class="md-body-1">MINDEST PREIS: {{item.minprice |currency:"&#67;&#72;&#70;"}}</span>
				<span class="md-body-1">LANDENPREIS: {{item.retailprice |currency:"&#67;&#72;&#70;"}}</span>
				<img class="item_image" src="http://bestbids.ch/{{item.img}}" />
				<h4 id="{{item.iid}}" class="md-subhead" ng-bind="countdownTimer(item.iid,item.duedate)"></h4>
				<span class="md-headline label">{{item.current_price |currency:"&#67;&#72;&#70;"}}</span>
			</md-card-content>
			<md-card-footer>
				<md-button class="btn_item md-subhead md-raised md-accent" ng-click="itemDetailView(item.iid)">BIETEN</md-button>
			</md-card-footer>
		</md-card>
	</div>
	<div id="div_no_item_message" ng-show="!has_items">
		<center><span id="no_item_message" class="md-display-3">NOCH KEINE PRODUKTE IN DIESER KATEGORIE</span><center>
	</div>
</div>
<div id="div_links" class="row">
	<footer-view></footer-view>
</div>