<div id="register_form" class="md-whiteframe-z2" ng-show="!registration_successful">
	<center><span id="register_title" class="md-display-1">NEUES KONTO</span></center>
	<hr />
	<form name="form_register" id="form_register">
		<md-input-container class="register_input">
			<label>Vorname</label>
			<input name="name" ng-model="firstName" required>
			<div ng-messages="">
			  <div ng-show="form_register.first.$dirty && form_register.first.$error.required">
				<div ng-message="required">Angabe erforderlich.</div>
			  </div>
			</div>
        </md-input-container>
		<md-input-container class="register_input">
			<label>Name</label>
			<input name="last" ng-model="lastName" required>
			<div ng-messages="">
			  <div ng-show="form_register.last.$dirty && form_register.last.$error.required">
				<div ng-message="required">Angabe erforderlich.</div>
			  </div>
			</div>
        </md-input-container>
		<md-input-container class="register_input">
			<label>Email</label>
			<input name="email" ng-model="emailAddress" type="email" required>
			<div ng-messages="">
				<div ng-show="form_register.email.$dirty && form_register.email.$error.required">
				  <div ng-message="required">Angabe erforderlich.</div>
				</div>
				<div ng-show="form_register.email.$dirty && form_register.email.$error.email">
				  <div ng-message="email">Not a valid email.</div>
				</div>
			</div>
        </md-input-container>
		<md-input-container flex class="register_input_dropdown">
			<md-select ng-model="selectedCountry" class="register_form_item">
				<md-option ng-click="selectCountry(country)" ng-repeat="country in countries" value="{{country}}">{{country}}</md-option>
			</md-select>
		</md-input-container>
		<md-input-container class="register_input_dropdown">
			<md-select ng-model="selectedKanton" class="register_form_item">
				<md-option ng-click="selectKanton(kanton)" ng-repeat="kanton in kantons" value="{{kanton}}">{{kanton}}</md-option>
			</md-select>
		</md-input-container>
		<md-input-container class="register_input">
			<label>Wohnadresse</label>
			<input name="homeAddress" ng-model="homeAddress" type="text" required>
			<div ng-messages="">
				<div ng-show="form_register.homeAddress.$dirty && form_register.homeAddress.$error.required">
				  <div ng-message="required">Angabe erforderlich.</div>
				</div>
			</div>
        </md-input-container>
		<md-input-container class="register_input">
			<label>Hausnummer</label>
			<input name="post" ng-model="post" type="text" required>
			<div ng-messages="">
				<div ng-show="form_register.post.$dirty && form_register.post.$error.required">
				  <div ng-message="required">Angabe erforderlich.</div>
				</div>	
			</div>
        </md-input-container>
		<md-input-container class="register_input">
			<label>Username</label>
			<input name="username" ng-model="username" type="text" ng-minlength="5" required>
			<div ng-messages="">
				<div ng-show="form_register.username.$dirty && form_register.username.$error.required">
				  <div ng-message="required">Angabe erforderlich.</div>
				</div>	
				<div ng-show="form_register.username.$dirty && form_register.post.$error.minlength">
				  <div ng-message="required">Too short username.</div>
				</div>	
			</div>
        </md-input-container>
		<md-input-container class="register_input">
			<label>Kennwort</label>
			<input name="password" ng-model="password" type="password" ng-minlength="5" required>
			<div ng-messages="">
				<div ng-show="form_register.password.$dirty && form_register.password.$error.required">
				  <div ng-message="required">Angabe erforderlich.</div>
				</div>	
				<div ng-show="form_register.password.$dirty && form_register.password.$error.minlength">
				  <div ng-message="required">Kennwort zu kurz.</div>
				</div>	
			</div>
        </md-input-container>
		<md-input-container class="register_input">
			<label>Promotionscode</label>
			<input name="promoCode" ng-model="promoCode" type="text">
			<div ng-messages="">
				<div ng-message="required">Enter your friend's promo code.</div>
			</div>
        </md-input-container>
		<div layout="column">
			<md-button ng-disabled="form_register.$invalid || $selectedCountry=='Country'" id="btn_register" class="md-raised md-accent" ng-click="btnCreateNewAccountClicked()">Register</md-button>
			<center><span ng-show="form_register.$invalid" class="md-body-1">Füllen Sie alle Felder Aus!</span></center>
			<center><span ng-show="showError" class="md-body-1">{{error_message}}</span></center>
		</div>
		<br /><br />
	</form>
</div>
<center><div id="form_successful" class="md-whiteframe-z2" ng-show="registration_successful" flex>
	<md-toolbar id="login_toolbar" class="md-tall" layout="row" layout-align="center center">
		<span class="md-title label">WELCOME, {{username}}</span>
	</md-toolbar>
	<div id="login_body" layout="column" >
		<br />
		<div id="account_info" layout="column" layout-align="start start">
			<span class="md-subhead label registration_complete_label">TOTAL BIDS: {{account_bids}} bids </span>
			<span class="md-subhead label registration_complete_label">BONUS BIDS: {{extra_bids}} bids </span>
			<span class="md-subhead label registration_complete_label">PROMOTIONSCODE: <b>{{promo_code}}</b> </span>
		</div>
		<hr />
	</div>
	<div id="registration_action" layout="row" layout-align="center center">
		<md-button class="md-primary md-accent register_action_button" ng-click="">Buy More Bids</md-button>
		<md-button class="md-raised md-accent register_action_button" ng-click="">Live AUCTIONS</md-button>
	</div>
</div></center>